/* 나중에 Line별로 class,id 구성한 뒤 주석달아서 정리해주면 ㄳㄳ */
body {
	background-image: url("img/medium_background.png"); /* 배경 이미지 경로 */
	padding: 20px; /* 페이지 여백 설정 */
	background-size: cover;
	background-position: 50% 20%;
	/*     color: #fff */
}

.testtest i {
	font-size: 24px; /* 크기 조절 */
	color: red; /* 색상 변경 */
}

.medium-forecast {
	min-width: 1200px;
	width: auto;
	height: 2500px;
	/* 	background-color: aqua; */
	border-radius: 10px;
}

.medium-forecast-top-line {
	display: flex;
	width: 100%;
	height: 10%;
	/* 	background-color: red; */
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}

.medium-top-icon-line {
	display: flex;
	width: 840px;
	height: 220px;
	/* 	background-color: chartreuse; */
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}

.mediumIcons {
	display: flex;
	width: 12%;
	height: 100%;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}

.mediumIcons img {
	width: 350px; /* 이미지 너비를 100px로 지정 */
	height: auto; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
	margin-bottom: 40px;
	filter: brightness(200%); /* 이미지의 밝기를 200%로 증가시켜서 흰색으로 만듭니다. */
}

#goHome {
	position: relative;
	right: 40px;
	width: 240px;
}

.medium-high-line {
	display: flex;
	width: 100%;
	height: 12%;
	/* 	background-color: blue; */
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}

.medium-high-icon-line {
	display: flex;
	width: 70%;
	height: 100%;
/* 	background-color: lightgoldenrodyellow; */
}

.goMain {
	display: flex;
	width: 20%;
	height: 100%;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}
.goMain h1{
	color:white;
	
}
 .goMain h1 a {
        color: inherit; /* 부모 요소의 색상을 상속 */
        text-decoration: none; /* 밑줄 제거 */
 }



/* .main-home-header-line{
    display: flex;
    width: 100%;
    height: 5%;
    background-color: wheat;
} */
.medium-center-line {
	display: flex;
	width: 100%;
	height: 75%;
	opacity: 88%;
	/* 	background-color: gray; */
}

.medium-left-line {
	display: flex;
	flex-direction: column;
	width: 55%;
	height: 100%;
	margin-left: auto;
	background-color: aqua;
}
.medium-left-line #area-search{
	display: flex;
	width: 100%;
	height: 6%;
	background-color: white;
	border-bottom: 2px solid black;
}
.medium-left-line #area-search form{
	margin-top: 25px;
	margin-left: 20px;
}
.medium-left-line #area-search h3{
	margin-top: 25px;
	margin-left: 50px;
}


.medium-left-line #area-name{
	display: flex;
	width: 100%;
	height: 20%;
	background-color: white;
	border-bottom: 2px solid black;
	justify-content: center;
	align-items: center;
}
.item-weather-info {
	display: flex;
	width: 100%;
	height: 20%;
	background-color: white;
	margin-right: auto;
	border-bottom: 2px solid black;
	font-size: 20px; /* 폰트 크기 변경 */
}

.item-weather-info i {
	font-size: 50px;
	margin-top: 50px;
	color: skyblue;
}

#rain-rate {
	margin-right: 10px;
}

.item-weather-info div {
	display: flex;
	flex-direction: column;
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.morning-weather{
 position: relative;

}
.evening-weather{
display: flex;
 position: relative;

}

.item-weather-info .weathers {
	display: flex;
	width: 100%;
	height: 50%;
	justify-content: center;
	align-items: center;
	margin-bottom: 12px;
}
.btn-group{
	display: flex;
	height: 45%;
	position: relative;
	left:10px;
	top:25px;
	
}

.medium-center-right-line {
	display: flex;
	flex-direction: column;
	width: 15%;
	height: 100%;
	margin-right: auto;
	background-color: violet;
}
.medium-center-right-top {
	display:flex;
	flex-direction: column;
	width:100%;
	height:50%;
	background-color:white;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
.medium-center-right-top #Areas{
	display:flex;
    width: 100%; /* 원하는 크기로 조정 */
    height:10%;
	background-color:white;
	border-bottom: 2px solid black;
}
.medium-center-right-top #areaSelect{
	display:flex;
    width: 100%; /* 원하는 크기로 조정 */
    padding: 10px; /* 내부 여백 설정 */
    font-size: 16px; /* 폰트 크기 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */

}
.medium-center-right-map-line{
	display: flex;
	width: 100%;
	height: 100%;
	margin-top:auto;
    margin-bottom:auto;
}
.medium-center-right-map{
	display: flex;
    width: 100%;
    height: 100%;
    filter: saturate(1.9) brightness(1);
    border: 1px solid black; /* 이미지 사이즈에 맞게 테두리 추가 */
}
.medium-center-right-bottom {
	display:flex;
	flex-direction: column;
	width:100%;
	height:50%;
	background-color:white;
	border-left: 2px solid black;
	
}
.medium-center-right-bottom #week-forecast{
	display:flex;
	width:100%;
	height:10%;
	background-color:white;
	border-bottom: 2px solid black;
	border-bottom: 2px solid black;
	justify-content: center;
	align-items: center;
}
.medium-center-right-bottom #week-forecast-textbox{
	display:flex;
	width:100%;
	height:80%;
	background-color:white;

}

.medium-bottom-line {
	display: flex;
	width: 100%;
	height: 5%;
	/* 	background-color: green; */
}