/* 나중에 Line별로 class,id 구성한 뒤 주석달아서 정리해주면 ㄳㄳ */
body {
    background-image: url("img/past_background.png"); /* 배경 이미지 경로 */
	padding: 20px; /* 페이지 여백 설정 */
	background-size: cover;
	background-position: 50% 20%;
	/*     color: #fff */
}


.past-weather {
	min-width: 1200px;
	width: auto;
	height: 1400px;
/* 	background-color: aqua; */
}

.past-weather-top-line {
	display: flex;
	width: 100%;
	height: 10%;
/* 	background-color: red; */
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}

.past-weather-icon-line {
	display: flex;
	width: 70%;
	height: 100%;
/* 	background-color: chartreuse; */
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}
.past-weather-icons {
	display: flex;
	width: 12%;
	height: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}
.past-weather-icons img{
	width: 350px; /* 이미지 너비를 100px로 지정 */
    height: auto; /* 이미지 높이를 자동으로 설정하여 비율 유지 */
    margin-bottom: 40px;
   	 filter: brightness(200%); /* 이미지의 밝기를 200%로 증가시켜서 흰색으로 만듭니다. */
}


.past-weather-high-line {
	display: flex;
	width: 100%;
	height: 12%;
/* 	background-color: blue; */
	justify-content: center; /* 수평 가운데 정렬 */
	align-items: center;
}

.past-weather-high-icon-line {
	display: flex;
	width: 70%;
	height: 100%;
	background-color: lightgoldenrodyellow;
	justify-content: center;
	align-items: center;
}
/* .main-home-header-line{
    display: flex;
    width: 100%;
    height: 5%;
    background-color: wheat;
} */
.past-center-line {
	display: flex;
	width: 100%;
	height: 75%;
/* 	background-color: gray; */
}

.past-left-line {
	display: flex;
	flex-direction:column;
	width: 55%;
	height: 100%;
	margin-left: auto;
	background-color: aqua;
}
.past-left-line #past-page-name{
	display: flex;
	width: 100%;
	height: 30%;
	background-color: white;
	justify-content: center; 
	align-items: center; 
	border-bottom: 2px solid black;
}
.item-date-info {
	display: flex;
	width: 100%;
	height: 40%;
	background-color: white;
	justify-content: center; 
	align-items: center;
	border-bottom: 2px solid black; 
}

.medium-center-right-line {
	display: flex;
	width: 15%;
	height: 100%;
	margin-right: auto;
	background-color: violet;
	
}

.item-weather-info {
	display: flex;
	width: 100%;
	height: 20%;
	background-color: white;
	margin-right: auto;
	border-bottom: 2px solid black; 
	font-size: 20px; /* 폰트 크기 변경 */
}

.item-weather-info i{
	font-size: 50px;
	margin-top: 60px;
	margin-right: 100px;
	color: skyblue;
}
#rain-rate{
	margin-right: 10px;
	margin-bottom: 45px;
}
.item-weather-info div{
	display: flex;
	width: 15%;
	height: 100%;
	display: flex; 
	justify-content: center; 
	align-items: center; 
}
.rain{
}
.medium-bottom-line {
	display: flex;
	width: 100%;
	height: 5%;
/* 	background-color: green; */
}